!!! XML
!!! Strict

%html
  %head
    %title ruby_kadai
    %meta{:"http-equiv"=>"Content-Type", :content=>"text/html", :charset=>"utf-8"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/style.css"}
    %link{:rel=>"stylesheet", :href=>"http://fonts.googleapis.com/icon?family=Material+Icons"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/materialize.css"}
    %script{:type=>"text/javascript", :src=>"https://code.jquery.com/jquery-2.1.1.min.js"}
  %body
    %h1 ruby_kadai
    != yield
